<h1>New Invoice</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Total</th>
    <th></th>
  </tr>
  <tr>
    <td><input type='text' ></td>
    <td><input type='text' ></td>
    <td><input type='text' ></td>
    <td><input type='text' ></td>
    <td><button>X</button></td>
  </tr>
</table>
<button>New Item</button>
